# Core credentials
BASE_ALCHEMY_API=https://base-sepolia.g.alchemy.com/v2/DO8BiTTs-jCAUSojKnkVZfNXmFmxxE-e
GOGH_CONTRACT_ADDRESS=0x354f092ce61b29415be2d62c0428afec25ef4f02
ATTESTATION_ATTESTATOR_PRIVATE_KEY=
ATTESTATION_REGISTRY_ID=0xd41a45590b7b60cdd25e9d73c42e2b69fb4262d4758a0877b47d2d929af0d9b3
RELEASE_ESCROW_GAS_SUBSIDY_HOST_PRIVATE_KEY=

# Database credentials
MASTER_SQL_DB_NAME=gogh
MASTER_SQL_USER=gogh
MASTER_SQL_IP=127.0.0.1
MASTER_SQL_PORT=27017
MASTER_SQL_PASSWORD=test

# SSL (if available), SSL files must go to /ssl
SSL_KEY=ssl.key
SSL_CRT=ssl.crt
SSL_CA=ssl.ca.crt

# Server configurations (change port to 443 on production)
SUBSIDIZE_RELEASE_ESCROW_GAS_FEE=0
ENABLE_SSL=0
PORT=80

# Escrow settings (set 0 to no expiry) - this setting must reflect the current setting in the Gogh contract
ESCROW_EXPIRY_TIME_MS=0